:root {
    --pale-blue: hsl(225, 100%, 84%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}
 body {
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--pale-blue);
 }

.card {
    width: 450px;
    background-color: white;
    color: var(--desaturated-blue);

}

.child{
    color: red;
}