:root {
    --pale-blue: hsl(225, 100%, 64%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

.card {
    width: 450px;
    background-color: var(--dark-blue);

}